<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{!-- navbar --}}
    {{>navbar}}

    <!-- main header -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404-error.png" alt="Shivraj" class="img-fluid" title="Shivraj Tech" style="height: 300px;">
                        </figure>
                        <h1>{{errormessege}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- footer code -->
    {{>footer}}

</body>


</html>